body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  color: #CE973E;
}

h2 {
  color: ##4A4A4A;
}

p {
  color: #e0e0d1;
  font-family: Arial;
  font-size: 24px;
}

a {
  color: #e0e0d1;
  font-family: Arial;
  font-size: 24px;
  text-decoration: underline;
}

#projects {
  background-color: #F3F3F3;
}
